<footer>
    <div class="f-info">
        <div class="t-icon"><a href="https://x.com/kate5_sarang?t=Jpf0T4XvsFDSEyhCvSK4Aw&s=08">
                <i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="i-icon"><a href="https://www.instagram.com/sarang_kate16/profilecard/?igsh=MXBrcXk1c2x3ZTR0aA=="><i
                    class="fa-brands fa-instagram"></i></a></div>
        <div class="l-icon"><a
                href="https://www.linkedin.com/in/sarang-kate-5a1369259?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "><i
                    class="fa-brands fa-linkedin"></i></a></div>

        <div class="f-info-brand"><b>&copy;&nbsp;EasyStay Private Limited</b></div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/terms">Terms</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/contact">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/shipping">Shipping</a>&nbsp;&nbsp;&nbsp;&nbsp
            <a href="/refund">Refunds</a>
        </div>
    </div>
</footer>