body {
    font-family: 'Plus Jakarta Sans';
    font-size: 18px !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../images/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: rgba(241, 227, 227, 0.8) !important;
    backdrop-filter: blur(20px) !important;
    margin-bottom: 1.5rem !important;
    z-index: 1000 !important;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    padding: 0 !important;
}

.container-fluid {
    height: 5rem !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgba(241, 227, 227, 0.8) !important;
    backdrop-filter: blur(20px) !important;
    z-index: 1000 !important;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.logoname {
    font-size: 1.75rem;
}

.nav-link {
    background-color: rgba(241, 227, 227, 0.8) !important;
    backdrop-filter: blur(20px) !important;
    max-width: 200px !important;
    color: #222222 !important;
    font-weight: 500 !important;
    transition: 0.5s !important;
    margin-right: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.nav-link:hover {
    background-color: #ff767f !important;
    max-width: 200px !important;
    color: #ebebeb;
    border-radius: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.navbar-nav {
    flex-direction: column;
    background-color: rgba(241, 227, 227, 0.8) !important;
    backdrop-filter: blur(20px) !important;
    z-index: 1000 !important;
}

.navbar-collapse {
    background-color: rgba(241, 227, 227, 0.8) !important;
    backdrop-filter: blur(20px);
    padding-left: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    z-index: 999;
    border-style: none;
}

.navbar-toggler {
    margin-right: 10px !important;
}

.btn-search {
    border-radius: 25px !important;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
}

.btn-search i {
    display: inline;
}

.search-input {
    border-radius: 25px !important;
    margin-left: 0.5rem;
    max-width: 300px;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem !important;
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        background-color: rgba(241, 227, 227, 0.8) !important;
        backdrop-filter: blur(20px) !important;
        z-index: 999;
    }

    .navbar-nav {
        flex-direction: column;
        background-color: rgba(241, 227, 227, 0.8) !important;
        backdrop-filter: blur(20px) !important;
        margin: 0 !important;
    }

    .navbar {
        padding: 0 !important;
        margin: 0 !important;
    }

    .container-fluid {
        padding: 0 !important;
        margin: 0 !important;
    }
}

@media (min-width: 768px) {
    .navbar-collapse {
        position: static;
        width: auto;
        background-color: rgba(241, 227, 227, 0.8) !important;
        backdrop-filter: blur(20px) !important;
        border-top: none;
    }

    .navbar-nav {
        flex-direction: row;
        text-align: left;
        margin-left: 0 !important;
        background-color: rgba(241, 227, 227, 0.8) !important;
        backdrop-filter: blur(20px) !important;
    }

    .navbar {
        padding: 0 !important;
        margin: 0 !important;
    }
}

.f-info-links a {
    text-decoration: none;
    color: #0067ee;
    transition: transform 0.3s ease !important;
}

.f-info-links a:hover {
    transform: scale(1.05);
    font-weight: 600;
    color: #0067ee;
}

.f-info-links,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.t-icon,
.i-icon,
.l-icon {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.t-icon:hover,
.i-icon:hover,
.l-icon:hover {
    transform: scale(1.2);
}

.fa-twitter {
    color: #000000;
}

.fa-twitter:hover {
    color: #000000;
}

.fa-instagram {
    color: #E1306C;
}

.fa-instagram:hover {
    color: #E1306C;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-linkedin:hover {
    color: #0077B5;
}

.f-info {
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: rgba(241, 227, 227, 0.8) !important;
    backdrop-filter: blur(20px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem !important;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.5);
}

.new-stay-form {
    background-color: rgba(241, 227, 227, 0.9);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px) !important;
}

.listing-card {
    background-color: rgba(241, 227, 227, 0.9) !important;
    backdrop-filter: blur(5px) !important;
    border: 2px solid transparent !important;
    margin-bottom: 2rem;
    border-radius: 1rem !important;
    transition: 0.3s;
}

.listing-card:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card-body li {
    background-color: rgba(241, 227, 227, 0.9) !important;
    backdrop-filter: blur(20px);
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 10 !important;
    font-weight: 500;
}

.card-title {
    font-weight: 700;
    margin-top: 0.5rem;
}

.listing-link {
    text-decoration: none !important;
}

.card-img-overlay {
    opacity: 0 !important;
    transition: 0.3s !important;
}

.card-img-overlay:hover {
    opacity: 0.2 !important;
    background-color: #ebebeb;
}

.form-label {
    font-weight: 500;
}

.btn {
    background-color: #222222;
    transition: 0.5s !important;
    border: none !important;
}

.btn:hover {
    background-color: #fe424d !important;
    border: none;
}

.btns {
    display: flex;
}

.del-btn {
    background-color: #fe424d !important;
    border: none;
}

.show-img {
    height: 30vh;
    width: 100% !important;
}

.show-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: rgba(241, 227, 227, 0.8) !important;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 15px !important;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(20px);
}

.review-card {
    padding: 20px 20px 20px 20px !important;
}

.show-title {
    font-size: 1.5rem;
    font-weight: 750;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.5rem !important;
    align-items: center;
}

.filter {
    text-align: center;
    margin-right: 1rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
}

.filter a {
    text-decoration: none;
    opacity: 0.7;
    transition: 0.3s;
    color: black;
}

.filter a:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: 1rem;
}

.map-card {
    padding: 20px 20px 20px 20px !important;
    background-color: rgba(241, 227, 227, 0.8) !important;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 15px !important;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(20px);
}

#map {
    height: 400px;
    width: 100%;
    border: 5px solid rgba(0, 0, 0, 0.5) !important;
    border-radius: 10px;
}

.tax-info {
    display: none;
}

.tax-switch {
    border: 2px solid black;
    background-color: #fe424d!important;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
    margin-left: 20rem;
    margin-right: 2rem !important;
    display: flex;
    align-items: center;
}

