<% layout("layouts/boilerplate") -%>

<div class="row">
    <div class="col-10 offset-1">
        <div class="new-stay-form mt-5 mb-3" style="text-align: justify;">
           <h1>Contact Us</h1>
            <p>Email: support@easystay.com<br>Phone: +91-99999-99998</p>
        </div>
    </div>
</div>