<% layout("/layouts/boilerplate") -%>
<div class="row">
    <div class="col-10 offset-1">
        <div class="new-stay-form mt-5 mb-3" style="text-align: justify;">
            <h3 style="text-align: center;"><b>Cancellation & Refund Policy</b></h3><br>
            <p>Easy Stay is committed to providing a flexible and fair cancellation and refund process for all our users. By using our platform, you agree to the following terms:</p>

            <h4>1. Cancellation by Users</h4>
            <p>Users may cancel their bookings up to 24 hours before the check-in time to receive a full refund. Cancellations made less than 24 hours before check-in are not eligible for refunds.</p>

            <h4>2. Refund Process</h4>
            <p>If eligible for a refund, the amount will be processed using the original method of payment within 5-7 business days. A confirmation of the refund will be sent via email.</p>

            <h4>3. Cancellation by Hosts</h4>
            <p>In rare cases, if a host cancels a confirmed booking, users will receive a full refund along with an apology email. We may also assist in finding alternative accommodations.</p>

            <h4>4. No-Show Policy</h4>
            <p>Failure to show up for a confirmed booking without prior cancellation will be considered a no-show and is not eligible for a refund.</p>

            <h4>5. Contact Us</h4>
            <p>If you have questions about a cancellation or refund, please contact our support team below.</p>

            <br>
            <p style="text-align: right;">All rights reserved <b>&copy;&nbsp;EasyStay Private Limited</b></p>
        </div>
    </div>
</div>