<% layout("layouts/boilerplate") -%>
<div class="row">
    <div class="col-10 offset-1">
        <div class="new-stay-form mt-5 mb-3" style="text-align: justify;">
            <h3 style="text-align: center;"><b>Shipping Policy</b></h3><br>

            <p><b>Shipping Time:</b> All bookings made on Easy Stay are confirmed instantly upon successful payment. There is no delay in digital delivery.</p>

            <p><b>Delivery Method:</b> The booking confirmation is delivered via email immediately after payment.</p>

            <p><b>Support Email:</b> support@easystay.com</p>

            <p><b>Customer Support Contact Number:</b> +91-99999-99999</p>

            <p><b>Business Address:</b> EasyStay Private Limited, Pune, Maharashtra, India</p>

            <br>
            <p style="text-align: right;">All rights reserved <b>&copy;&nbsp;EasyStay Private Limited</b></p>
        </div>
    </div>
</div>
