<% layout("/layouts/boilerplate") -%>
<div class="row">
    <div class="col-10 offset-1">
        <div class="new-stay-form mt-5 mb-3" style="text-align: justify;">
            <h3 style="text-align: center;"><b>Shipping Policy</b></h3><br>
            <p>Easy Stay is a digital service platform, and no physical goods are shipped as part of our offerings. Upon successful booking and payment, users will receive an instant confirmation through the website and a confirmation email.</p>

            <h4>1. Booking Confirmation</h4>
            <p>After a user successfully completes a booking, a confirmation email is sent instantly to the registered email address containing all relevant details.</p>

            <h4>2. Delivery of Service</h4>
            <p>All services provided by Easy Stay (such as listing access, stay bookings, etc.) are delivered electronically and do not involve any physical shipping.</p>

            <h4>3. Support</h4>
            <p>In case of any issues regarding confirmation or digital delivery, users are encouraged to contact our support team via the contact details provided.</p>

            <h4>4. Contact Us</h4>
            <p>If you have questions about our shipping or service delivery, please reach out to our support team below.</p>

            <br>
            <p style="text-align: right;">All rights reserved <b>&copy;&nbsp;EasyStay Private Limited</b></p>
        </div>
    </div>
</div>
