<% layout("layouts/boilerplate") -%>
<div class="row">
    <div class="col-10 offset-1">
        <div class="new-stay-form mt-5 mb-3" style="text-align: justify;">
            <h3 style="text-align: center;"><b>Shipping Policy</b></h3><br>

            <p>Easy Stay is a digital booking platform. All services offered are delivered digitally and do not require physical shipping.</p>

            <h4>1. Shipping Time</h4>
            <p>All bookings are confirmed instantly upon successful payment. A confirmation message and invoice will be sent to the registered email address.</p>

            <h4>2. Delivery Method</h4>
            <p>The service (stay booking) will be digitally available through your account and email confirmation. There is no shipping of physical goods.</p>

            <h4>3. Customer Support</h4>
            <p>If you face any issues with your booking delivery or confirmation, please contact us:</p>
            <ul>
                <li>Email: <b>support@easystay.com</b></li>
                <li>Phone: <b>+91-99999-99999</b></li>
            </ul>

            <h4>4. Address</h4>
            <p>EasyStay Pvt. Ltd., Pune, Maharashtra, India</p>

            <br>
            <p style="text-align: right;">All rights reserved <b>&copy;&nbsp;EasyStay Private Limited</b></p>
        </div>
    </div>
</div>
